
/* Blah blah blah blah */
:root {
    --background: white;
    --rearground: rgb(240, 242, 246, 0.5);
    --background: black;
}

.hello[a="hello world!"] {
    background-color: var(--background);
    border: 1px solid var(--rearground);
    border-radius: 15px;
}

@property --foreground {}

.hello-world1 .hello-world2 { }
#hello-world1 { }
.hello-world2 { }
.hello-world3 { }